@model IEnumerable<QLBanSach.Models.DonHang>

@{
    ViewData["Title"] = "Danh sách đơn hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().MaDonHang)</th>
            <th>@Html.DisplayNameFor(model => model.First().MaNguoiDung)</th>
            <th>@Html.DisplayNameFor(model => model.First().DiaChiNhanHang)</th>
            <th>@Html.DisplayNameFor(model => model.First().NgayDat)</th>
            <th>@Html.DisplayNameFor(model => model.First().TrangThai)</th>
            <th>@Html.DisplayNameFor(model => model.First().TongTien)</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaDonHang</td>
                <td>@item.MaNguoiDung</td>
                <td>@item.DiaChiNhanHang</td>
                <td>@item.NgayDat.ToString("dd/MM/yyyy")</td>
                <td>@item.TrangThai</td>
                <td>@String.Format("{0:N0} vn₫", item.TongTien)</td>
                <td>
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.MaDonHang">Chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>
